@charset "utf-8";

* { margin: 0px; padding: 0px; }
ul,ol,li { list-style: none; }
a { text-decoration: none; }

#profile {
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    
    &::after {content: ""; display: block; clear: both; }
    
    article {
        &:nth-of-type(1) {
            float: left;
            width: 28%;
            background-color: #58594d;
            padding: 80px;
            box-sizing: border-box;

            h1 {
                font: bold 4vw/1 "arial";
                color: #fff;
                padding-bottom: 50px;
            }

            p {
                width: 100%;
                font: 15px/1.4 "arial";
                color: #aaa;
                padding-bottom: 80px;
            }

            .pic {
                width: 220px;
                height: 220px;

                img {
                    width: 75%;
                    height: 100%;
                    object-fit: cover;
                    // filter: brightness(1.1) saturate(30%);
                }
            }
        }

        &:nth-of-type(2) {
            float: right;
            width: 70%;
            height: 100vh;
            padding: 120px;
            box-sizing: border-box;
            overflow-Y: scroll;

            div {
                margin-bottom: 80px;

                h2 {
                    font: bold 24px/1 "arial";
                    color: #58594d;
                    border-bottom: 1px solid #666;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                }
    
                p {
                    font: 500 16px/1.5 "arial";
                    color: #6e6d5b;
                    padding: 5px 0px;

                    strong {
                        margin-right: 16px;
                        color: #a5a273;
                    }
                }

                a {
                    width: 300px;
                    border: 1px solid #ccc;
                    display: block;
                    font: bold 15px/1 "arial";
                    color: #58594d;
                    padding: 20px;
                    box-sizing: border-box;
                    margin-bottom: 10px;

                    &:hover { background: #58594d; color: #eee; }
                }
                
                .project1 {
                    width: 100%;
                    height: 200px;
                    background-color: #eee;
                    margin-bottom: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1179px){
    #profile {
        article {
            &:nth-of-type(1) {
                h1 {
                    font: bold 3vw/1 "arial";
                    color: #fff;
                    padding-bottom: 50px;
                }
    
                .pic {
                    width: 90%;
                    height: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 900px){
    #profile {
        width: 100%;
        height: 100vh;
        margin: 0px auto;
        
        article {
            &:nth-of-type(1) {
                float: none;
                width: 100%;
                padding: 80px;

                h1 {
                    font: bold 40px/1 "arial";
                }

                .pic {
                    width: 200px;
                    height: 200px;
                }
            }
    
            &:nth-of-type(2) {
                float: none;
                width: 100%;
                height: auto;
                padding: 80px;
                overflow-Y: visible;
            }
        }
    }
}

@media screen and (max-width: 539px){
    #profile {
        article {
            &:nth-of-type(1) {
                padding: 40px;

                h1 {
                    font: bold 28px/1 "arial";
                    padding-bottom: 30px;
                }
    
                p {
                    font: 12px/1.4 "arial";
                    padding-bottom: 60px;
                }

                .pic {
                    width: 140px;
                    height: 140px;
                }
            }
    
            &:nth-of-type(2) {
                padding: 40px;

                div {
                    margin-bottom: 40px;
    
                    h2 {
                        font: bold 20px/1 "arial";
                        padding-bottom: 14px;
                        margin-bottom: 14px;
                    }
        
                    p {
                        font: 500 12px/1.4 "arial";
                        color: #6e6d5b;
    
                        strong {
                            margin-right: 12px;
                        }
                    }
    
                    a {
                        width: 100%;
                        padding: 14px;
                        font: bold 14px/1 "arial";
                    }
                }
            }
        }
    }
}